.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: rgb(146, 130, 43);
}
.nav1{
    background-color: rgb(241, 180, 160);
    margin-bottom: 30px;
}
.navbar-brand img{
    background-color: white;
}
.d-flex input{
    width: 500px;
}
.d-flex .search-btn{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}
.nav-link{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    color: black;
}
.ca{
    padding-left: -20px;
}
.ch{
    width: 250px;
    font-weight: bold;
    font-size: 20px;
}
.ch a{
    text-decoration: none;
    color: white;
}
.fa-message{
    float: left;
    font-size: 30px;
}
.h .dropdown-item{
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.ic{
    margin-right: 40px;
    font-size: 25px;
}
.ac{
    margin-right: 12px;
}
.modal-body input{
    width: 400px;
    height: 50px;
    border-radius: 5px;
}
.ten{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    margin-top: 130px;
}
.col-lg-2{
    margin-bottom: 20px;
}
.card-text{
    text-align: center;
    font-size: medium;
    color: black;
}
.inp{
    border-radius: 20px;
    width: 180px;
    padding-left: 35px;
}
body{
    background-color: rgb(248, 235, 235);
}
.cate1{
    font-size: 17px;
}
.Detol{
    width: 130px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.fa-magnifying-glass{
    margin-left: -180px;
}
input::placeholder{
    margin-left: 50px;
}
hr{
    margin-right: 80px;
}
.pr{
    font-size: 15px;
}
.or{
    font-size: 15px;
    margin-left: 130px;
    margin-top: -25px;
    color: blue;
}
.ra{
    font-size: 15px;
}
.re{
    font-size: 15px;
    margin-left: 130px;
    margin-top: -25px;
    color: blue;
}
.fa-star{
    font-size: 15px;
    margin-right: -2px;
    color: rgb(227, 189, 22);
}
.ab{
    font-size: 15px;
}
.ge{
    font-size: 17px;
    color: black;
}
.un{
    font-size: 15px;
}
.un input{
    margin-right: 15px;
}
.se{
    font-size: 17px;
    color: black;
}
.or1{
    font-size: 15px;
    color: black;
}
.or1 input{
    margin-right: 15px;
}
.ex{
    font-size: 15px;
    color: black;
}
.sh{
    font-size: 15px;
    color: black;
}
.eg{
    font-size: 15px;
    color: black;
}
.eg input{
    margin-right: 15px;
}
.hi{
    font-size: 15px;
    color: black;
}
.hi input{
    margin-right: 15px;
}
.p1{
    font-size: 12px;
    float: left;
    padding: 2px 10px 2px 10px;
    background-color: blue;
    color: white;
    padding-left: -150px;
    border-radius: 5px;
}
.diff{
    margin-top: -10px;
    font-size: 15px;
    color: black;
    float: left;
}
.p3{
    margin-top: -10px;
    float: left;
    color: black;
    font-size: 17px;
    margin-left: -140px;
    margin-top: 17px;
}
.fa{
    float: left;
    margin-left: -50px;
}
.fa{
    margin-left: 10px;
}
.coll{
    font-size: 14px;
    color: black;
    font-style: italic;
    float: left;
}
.old{
    font-size: 11px;
    color: black;
    float: left;
}
.button-hidden{
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-size: 20px;
}
.gene{
    margin-top: 10px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.flex2{
    margin-top: 20px;
}
.gol{
    font-size: 25px;
    font-weight: bold;
    color: white;
    float: left;
}
.inq{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.fl{
    padding-top: 40px;
    margin-top: 40px;
    background-color: rgb(39, 38, 38);
    padding-bottom: 30px;
}
.inqp{
    color: white;
}
.ma1{
    padding: 3px 15px;
    border-radius: 5px;
    margin-left: -3px;
}
.app{
    font-size: 17px;
    color: white;
}
.papp{
    color: white;
    margin-top: -10px;
    font-size: 14px;
}
.down1{
    font-size: 10px;
    color: white;
    margin-left: 15px;
}
.down2{
    font-size: 17px;
    color: white;
    margin-top: -5px;
}
.fa-apple{
    font-size: 25px;
}
.down3{
    font-size: 17px;
    color: white;
}
.fa-twitter{
    color: white;
    font-size: 20px;
}
.fa-instagram-square{
    color: white;
    font-size: 20px;
}
.fa-facebook{
    color: white;
    font-size: 20px;
}
.fa-envelope{
    color: white;
    font-size: 20px;
}
.auto-checkbox{
    width: 180px;
    height: 200px;
}






@media (max-width: 500px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .ch{
        width: 85%;
        margin-left: 20px;
    }
    .contyear .row .col{
        width: 10rem;
        margin-left: -20px;
    }
    
.contyear .ten{
    font-size: 21px;
}
.contyear{
    padding-left: 50px;
}
.auto-checkbox{
    width: 100%;
    height: 200px;
}
.Detol{
    width: 92%;
}
.contcheck{
    padding-left: 50px;
}
.inp{
    width: 90%;
    height: 45px;
    margin-bottom: 15px;
}
.fa-magnifying-glass{

    display: inline-block;
    margin-left: -40px;
}
.gene .card{
    width: 10rem;
    height: 360px;
}
.p1{
    font-size: 10px;
    float: left;
    padding: 2px 7px 2px 7px;
    background-color: blue;
    color: white;
    border-radius: 5px;

}

.diff{
    margin-top: -12px;
    font-size: 12px;
    color: black;
    text-align: center;
}
.p3{
    margin-top: -10px;
    padding-left: 60px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-left: -140px;
    margin-top: 10px;
}
.fa{
    padding-left: 20px;
    margin-top: -5px;
}
.fa .fa-solid{
    font-size: 10px;
}
.coll{
    font-size: 12px;
    color: black;
    font-style: italic;
    float: left;
}
.old{
    display: none;
}
.button-hidden{
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 20px;
}
.flex1{
    display: none;
}
.inq{
    font-size: 16px;
}
.inqp{
    font-size: 12px;
}
.ma1{
    width: 30%;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    float: right;
    margin-top: 10px;
    margin-right: 70px;
}
.app{
    font-size: 14px;
}
.down2{
    font-size: 14px;
}
.down2 .fa-apple{
    font-size: 18px;
    margin-right: 10px;
}
.down3 .fa-google-play{
    font-size: 14px;
    margin-right: 10px;
}
.down3{
    font-size: 14px;
}
.cart .ca{
    margin-left: -32px;
}
.d-flex{
    width: 100%;
}
.ten{
    margin-top: 150px;
}
.help-cart li .dropdown-item{
    font-size: 14px;
}
.flex2{
    width: 80%;
    margin-right: 10px;
}
.flex3{
    width: 80%;
    margin-left: 10px;
}
.flex2 input{
    width: 100%;
}
.ma1{
    width: 40%;
}
.help-cart li :last-child{
    font-size: 12px;
}
}